* {
    margin: 0;
    padding: 0;
    justify-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56vh;
    height: 100vh;
    background-color: #f8f9fa; 
    text-align: left;
}

img {
    width: 100%;
    border-radius: 10px;
    display: block;
    margin-bottom: 15px;
}

.card {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    max-width: 350px;
    padding: 1.5rem;
    margin: auto;
    border-radius: 10px;
    background: white;
    font-family: 'Poppins', sans-serif;
}


#tag {
    background-color: #cacaca;
    color: rgb(163, 10, 163);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 60px;
}

.tarjeta {
    text-align: left;
    display: flex;
    flex-direction: column; 
}

